@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@*1.örnek: form elemanlarına parametre ile ulaşma*@
<form asp-action="VeriAl" asp-controller="Product" method="post">
    <input type="text" name="txtValue1" />
    <input type="text" name="txtValue2" />
    <input type="text" name="txtValue3" />
    <button>Gönder</button>
</form>


@*2.örnek: custom class oluşturarak pror ile ulaşma*@

@*3.örnek: model binding ile ulaşma*@