@*gelicek veriyi model bazlı karşıladık*@
@*@model OrnekProje.Model.ViewModels.UserProduct*@
@model (OrnekProje.Model.Product p, OrnekProje.Model.User u)

<h3>@Model.p.ProductName</h3>
<h3>@Model.u.Name</h3>



@*<h3>@Model.Product.ProductName</h3>
    <h3>@Model.User.Name</h3>*@

