@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model OrnekProje.Model.Product


<form asp-action="QueryStr" asp-controller="Product" method="post">
    <input type="text" asp-for="ProductName" placeholder="ProductName" />
    <br />
    <input type="number" asp-for="Quantity" placeholder="Quantity" />
    <br />
    <button>Ürün ekle</button>
</form>



<a asp-action="Index" asp-controller="Home" asp-route-a="akif" asp-route-b="sanver" asp-route-id="1" asp-route-x="uieuie"> content</a>

